.idea/workspace.xml
.idea/workspace.xml
.idea/jobs_Statistics_with_pyecharts.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea
__pycache__/erp_i.cpython-34.pyc
__pycache__/public.cpython-34.pyc
__pycache__/unfinished_check.cpython-34.pyc
venv
erp_i.db3
.idea/encodings.xml
