
.idea/workspace.xml
.idea/workspace.xml
.idea/jobs_Statistics_with_pyecharts.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
__pycache__/erp_i.cpython-34.pyc
__pycache__/public.cpython-34.pyc
__pycache__/unfinished_check.cpython-34.pyc
venv
ignore.txt
ignore.txt.bak
erp_i.db3
__pycache__/public.cpython-36.pyc
__pycache__/erp_i.cpython-36.pyc
.idea/encodings.xml
